<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="gameCalculator.master.cs" Inherits="gameCalculator_Assignment1.gameCalculator" %>

<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!--jquery CDN -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Game Calculator</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <h1>COMP2007 -  Assignment 1</h1>

    <h2> Game Calculator</h2>

    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>

    <div></div>
    <footer>
        COMP2007 - Assignment 1 Solution
    </footer>

</body>
</html>
